<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uphill.web.service.account.AccountMapper">
	<select id="selectUser" resultType="userVO" parameterType="Integer">
		select user_index, grade_index, user_id, user_name, gender, birth, mobile_carrier, phone_number, post_code, address, address_detail, address_extra, email, point, purchase, join_date
		from user_table 
		where user_index = #{userIndex}
	</select>
	
	<select id="selectLoginUser" resultType="userVO" parameterType="userVO">
		select user_index, grade_index, user_id, user_name, gender, birth, mobile_carrier, phone_number, post_code, address, address_detail, address_extra, email, point, purchase, join_date
		from user_table
		where user_id = #{userId} and user_password = #{userPassword}
	</select>
	
	<insert id="insertUser" parameterType="userVO">
		insert into user_table(user_id, user_password, user_name, gender, birth, mobile_carrier, phone_number, post_code, address, address_detail, address_extra, email, personal_agree, unique_agree, mobile_agree, use_agree)
		values(#{userId}, #{userPassword}, #{userName}, #{gender}, #{birth}, #{mobileCarrier}, #{phoneNumber}, #{postCode}, #{address}, #{addressDetail}, #{addressExtra}, #{email}, #{personalAgree}, #{uniqueAgree}, #{mobileAgree}, #{useAgree})
	</insert>
		
	<select id="selectUserId" resultType="String" parameterType="userVO">
		select user_id 
		from user_table 
		where user_name = #{userName} and birth = #{birth} and mobile_carrier = #{mobileCarrier} and phone_number = #{phoneNumber} and email = #{email}
	</select>
	
	<update id="updateUserPassword" parameterType="userVO">
		update user_table
		set user_password=#{userPassword}
		where user_id=#{userId} and user_name=#{userName} and birth=#{birth} and mobile_carrier=#{mobileCarrier} and phone_number=#{phoneNumber} and email=#{email}
	</update>
	
	<select id="selectDuplicateUserId" resultType="boolean" parameterType="String">
		select case when count(user_id) = 1 then 1 else 0 end as user_id 
		from user_table where user_id = #{userId}
	</select>

	<select id="selectDuplicateEmail" resultType="boolean" parameterType="String">
		select case when count(email) = 1 then 1 else 0 end as email 
		from user_table where email = #{email}
	</select>
</mapper>