@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: #111111;
}

html {
	font-size: 16px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section #joinTitle img {
	width: 72px;
	margin-top: 64px;
	margin-bottom: 32px;
}

section #f {
	border: 1px solid #c4c4c4;
	padding: 40px;
	margin-bottom: 96px;
}

section #f #joinFormTitle {
	font-size: 1.5rem;
}

section #f #joinFormDiv {
	margin-top: 40px;
}

section #f #joinFormDivTitle {
	margin-bottom: 8px;
}

section #f input[type=text] {
	height: 28px;
	width: 128px;
	border: 1px solid #c4c4c4;
}

section #f input[type=password] {
	height: 28px;
	width: 128px;
	border: 1px solid #c4c4c4;
}

section #f #checkDuplicateIdResult {
	font-size: 0.825rem;
}

section #f #checkSecureCodeResult {
	font-size: 0.825rem;
}

section #f #checkDuplicateEmailResult {
	font-size: 0.825rem;
}

section #f #userPassword {
	margin-bottom: 8px;
}

section #f #postCode {
	margin-bottom: 8px;
}

section #f #address {
	margin-bottom: 8px;
	width: 100%;
}

section #f #addressForm {
	display: flex;
	justify-content: space-between;
}

section #f #addressDetail {
	width: 70%;
}

section #f #addressExtra {
	width: 28%;
}

section #f select {
	height: 28px;
	background-color: #ffffff;
	border: 1px solid #c4c4c4;
}

section #f button {
	height: 28px;
	background-color: #ffffff;
	border: 1px solid #c4c4c4;
}

section #f button {
	height: 28px;
	background-color: #ffffff;
	border: 1px solid #c4c4c4;
	cursor: pointer;
	padding: 0px 8px;
}

section #f button:hover {
	background-color: #9ccc65;
	color: #ffffff;
}

section #f #join {
	margin-top: 64px;
	width: 100%;
	height: 40px;
	border: 1px solid #c4c4c4;
	background-color: #ffffff;
	cursor: pointer;
}

section #f #join:hover {
	background-color: #9ccc65;
	color: #ffffff;
}

section #f #prev {
	margin-top: 32px;
	width: 100%;
	height: 40px;
	border: 1px solid #c4c4c4;
	background-color: #ffffff;
	cursor: pointer;
}

section #f #prev:hover {
	background-color: #9ccc65;
	color: #ffffff;
}