@charset "UTF-8";

section {
	display: flex;
	width: 100%;
	min-height: 500px;
	flex-direction: column;
	padding-left: 244px;
}

#userInfoName {
	font-size: 2rem;
	margin-bottom: 40px;
}

#userInfo {
	font-size: 1.5rem;
	margin-bottom: 40px;
}

#leaveButton {
	width: 224px;
	height: 40px;
	border: 1px solid #ef5350;
	background-color: #ffffff;
	color: #ef5350;
	cursor: pointer;
	margin-bottom: 24px;
}

#leaveButton:hover {
	background-color: #ef5350;
	color: #ffffff;	
}

@media (min-width:768px) and (max-width:1023px) {	
	section {
		display: flex;
		width: 100%;
		min-height: 500px;
		align-items: center;
		flex-direction: column;		
		padding-left: 0px;
	}	
}

/*모바일*/
@media screen and (max-width:767px) {
	section {
		display: flex;
		width: 100%;
		min-height: 500px;
		align-items: center;
		flex-direction: column;
		padding-left: 0px;
	}	
}