@charset "UTF-8";

section {
	display: flex;
	width: 100%;
	min-height: 500px;
	flex-direction: column;
	padding-left: 244px;
}

form {
	max-width: 464px;
}

#updateFormDiv {
	margin-bottom: 40px;
}

#updateFormDivTitle {
	margin-bottom: 8px;
}

input[type=text] {
	height: 28px;
	width: 128px;
	border: 1px solid #c4c4c4;
}

input[type=password] {
	height: 28px;
	width: 128px;
	border: 1px solid #c4c4c4;
}

input[type=radio] {
	height: 14px;
	width: 14px;
	border: 1px solid #c4c4c4;
	border-radius: 50%;
	margin-right: 8px;
	appearance: none;
	cursor: pointer;
}

input[type=radio]:checked {
	background-color: #9ccc65;
	border: none;
}

select {
	height: 28px;
	background-color: #ffffff;
	border: 1px solid #c4c4c4;
}

#postCode {
	margin-bottom: 8px;
}

#address {
	margin-bottom: 8px;
	width: 100%;
}

#addressForm {
	display: flex;
	justify-content: space-between;
}

#addressDetail {
	width: 70%;
}

#addressExtra {
	width: 28%;
}

button {
	height: 28px;
	background-color: #ffffff;
	border: 1px solid #c4c4c4;
	cursor: pointer;
	padding: 0px 8px;
}

button:hover {
	background-color: #9ccc65;
	color: #ffffff;
}

@media (min-width:768px) and (max-width:1023px) {	
	section {
		display: flex;
		width: 100%;
		min-height: 500px;
		align-items: center;
		flex-direction: column;		
		padding-left: 0px;
	}	
}

/*모바일*/
@media screen and (max-width:767px) {
	section {
		display: flex;
		width: 100%;
		min-height: 500px;
		align-items: center;
		flex-direction: column;
		padding-left: 0px;
	}	
}