<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uphill.web.service.user.UserMapper">
	<select id="selectOrderList" resultType="orderVO" parameterType="Integer">
		select * from order_table where user_index = #{userIndex}
	</select>

	<select id="selectOrderItemList" resultType="orderItemInfoVO" parameterType="List">
		select * from order_item_table join item_table using(item_index) where order_index in 
		<foreach collection="list" item="orderIndex" separator="," open="(" close=")"> 
			#{orderIndex}
		</foreach>
	</select>
	
	<update id="updateUser" parameterType="userVO">
		update user_table 
		set user_name = #{userName},
			user_password = #{userPassword},
			mobile_carrier = #{mobileCarrier},
			phone_number = #{phoneNumber},
			post_code = #{postCode},
			address = #{address},
			address_detail = #{addressDetail},
			address_extra = #{addressExtra}
		where user_index = #{userIndex}
	</update>
	
	<delete id="deleteUser" parameterType="Integer">
		delete from user_table
		where user_index = #{userIndex}
	</delete>
	
	<select id="selectUser" resultType="userVO" parameterType="Integer">
		select user_index, grade_index, user_id, user_name, gender, birth, mobile_carrier, phone_number, post_code, address, address_detail, address_extra, email, point, purchase, join_date
		from user_table 
		where user_index = #{userIndex}
	</select>
</mapper>