<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uphill.web.service.admin.AdminMapper">
	<select id="selectUserList" resultType="userVO" parameterType="Map">
		select * from user_table
		limit ${startNum}, ${count}
	</select>

	<select id="selectUser" resultType="userVO" parameterType="Integer">
		select * from user_table where user_index = ${userIndex}
	</select>

	<select id="selectUserCount" resultType="Integer">
		select count(*) from user_table
	</select>
	
	<delete id="deleteUser" parameterType="Integer">
		delete from user_table
		where user_index = ${userIndex}
	</delete>
	
	<select id="selectOrderList" resultType="orderVO" parameterType="Map">
		select * from order_table
		limit ${startNum}, ${count}
	</select>
	
	<select id="selectOrder" resultType="orderVO" parameterType="Integer">
		select * from order_table where order_index = ${orderIndex}
	</select>

	<select id="selectOrderItemInfoList" resultType="orderItemInfoVO" parameterType="Integer">
		select * from order_item_table join item_table using(item_index)
		where order_index = ${orderIndex}
	</select>
	
	<select id="selectOrderCount" resultType="Integer">
		select count(*) from order_table
	</select>
	
	<update id="updateOrder" parameterType="Map">
		update order_table 
		set order_state = ${orderState}
		where order_index = ${orderIndex} 
	</update>
</mapper>