<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uphill.web.service.admin.AdminMapper">
	<select id="selectUserList" resultType="userVO" parameterType="Map">
		select * from user_table
		limit #{startNum}, #{count}
	</select>

	<select id="selectUser" resultType="userVO" parameterType="Integer">
		select * from user_table where user_index = #{userIndex}
	</select>

	<select id="selectUserCount" resultType="Integer">
		select count(*) from user_table
	</select>
	
	<delete id="deleteUser" parameterType="Integer">
		delete from user_table
		where user_index = #{userIndex}
	</delete>
	
	<select id="selectOrderList" resultType="orderVO" parameterType="Map">
		select * from order_table
		limit ${startNum}, #{count}
	</select>
	
	<select id="selectOrder" resultType="orderVO" parameterType="Integer">
		select * from order_table where order_index = #{orderIndex}
	</select>

	<select id="selectOrderItemInfoList" resultType="orderItemInfoVO" parameterType="Integer">
		select * from order_item_table join item_table using(item_index)
		where order_index = #{orderIndex}
	</select>
	
	<select id="selectOrderCount" resultType="Integer">
		select count(*) from order_table
	</select>
	
	<update id="updateOrder" parameterType="Map">
		update order_table 
		set order_state = ${orderState}
		where order_index = #{orderIndex} 
	</update>
	
	<select id="selectItemList" resultType="itemVO" parameterType="Map">
		select * from item_table
		order by item_index desc
		limit ${startNum}, #{count}
	</select>
	
	<select id="selectItemCount" resultType="Integer">
		select count(*) from item_table
	</select>
	
	<select id="selectItem" resultType="itemVO" parameterType="Integer">
		select * from item_table
		where item_index = #{itemIndex}
	</select>
	
	<select id="selectItemOptionList" resultType="itemOptionVO" parameterType="Integer">
		select * from item_option_table
		where item_index = #{itemIndex}
	</select>
	
	<update id="updateItem" parameterType="itemVO">
		update item_table
		set item_category_index = #{itemCategoryIndex},
		item_category_name = #{itemCategoryName},
		<if test="itemSubcategoryIndex != 0">
			item_subcategory_index = #{itemSubcategoryIndex},
			item_subcategory_name = #{itemSubcategoryName},
		</if>
		item_name = #{itemName},
		item_image = #{itemImage},
		item_price = #{itemPrice},
		item_discount_price = #{itemDiscountPrice},
		item_total_qty = #{itemTotalQty}
		where item_index = #{itemIndex}
	</update>
	
	<delete id="deleteItemOption" parameterType="Integer">
		delete from item_option_table
		where item_index = #{itemIndex}
	</delete>
	
	<insert id="insertItemOption" parameterType="java.util.List">
		insert into item_option_table(item_index, item_option_name, item_option_content, item_option_price, item_option_qty)
		values
		<foreach item="itemOptionList" collection="list" separator=",">
			(
			#{itemOptionList.itemIndex},
			#{itemOptionList.itemOptionName},
			#{itemOptionList.itemOptionContent},
			#{itemOptionList.itemOptionPrice},
			#{itemOptionList.itemOptionQty}
			)
		</foreach>
	</insert>
	
	<select id="selectItemIndex" resultType="Integer">
		select ifnull(max(item_index), 0) + 1 from item_table 
	</select>
	
	<insert id="insertItem" parameterType="itemVO">
		insert into item_table(
		item_index,
		item_category_index,
		item_category_name,
		item_subcategory_index,
		item_subcategory_name,
		item_name,
		item_image,
		item_price,
		item_discount_price,
		item_total_qty) 
		values(
		#{itemIndex},
		#{itemCategoryIndex},
		#{itemCategoryName},
		#{itemSubcategoryIndex},
		#{itemSubcategoryName},
		#{itemName},
		#{itemImage},
		#{itemPrice},
		#{itemDiscountPrice},
		#{itemTotalQty}
		)
	</insert>
	
	<delete id="deleteItem" parameterType="Integer">
		delete from item_table
		where item_index = #{itemIndex}
	</delete>
</mapper>