<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="/db.properties"/>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.uphill.web.dto.UserVO" alias="userVO"/>
		<typeAlias type="com.uphill.web.dto.MainBannerVO" alias="mainBannerVO"/>
		<typeAlias type="com.uphill.web.dto.ItemVO" alias="itemVO"/>
		<typeAlias type="com.uphill.web.dto.ReviewVO" alias="reviewVO"/>
		<typeAlias type="com.uphill.web.dto.ItemPostVO" alias="itemPostVO"/>
		<typeAlias type="com.uphill.web.dto.ItemOptionVO" alias="itemOptionVO"/>
		<typeAlias type="com.uphill.web.dto.BasketVO" alias="basketVO"/>
		<typeAlias type="com.uphill.web.dto.BasketItemVO" alias="basketItemVO"/>
		<typeAlias type="com.uphill.web.dto.OrderVO" alias="orderVO"/>
		<typeAlias type="com.uphill.web.dto.OrderItemVO" alias="orderItemVO"/>
		<typeAlias type="com.uphill.web.dto.OrderItemInfoVO" alias="orderItemInfoVO"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/uphill/web/service/account/AccountMapper.xml" />
		<mapper resource="com/uphill/web/service/home/HomeMapper.xml" />
		<mapper resource="com/uphill/web/service/item/ItemMapper.xml" />
		<mapper resource="com/uphill/web/service/basket/BasketMapper.xml" />
		<mapper resource="com/uphill/web/service/order/OrderMapper.xml" />
		<mapper resource="com/uphill/web/service/user/UserMapper.xml" />
	</mappers>
</configuration>