@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

section {
	padding : 100px;
}

section div{
	 padding-bottom: 20px;
}

.text {
	border : solid 2px skyblue;
	background-color : #CEF6F5;
}
