@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html {
	font-size: 16px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#mainBanner {
	width: 100%;
}

#mainBanner #mainBannerImageDiv {
	display: flex;
	width: 100%;
}

#mainBanner .mainBannerImage {
	display: block;
	width: 0%;
	object-fit: none;
	cursor: pointer;
	transition: 1s;
}

#mainBanner .mainBannerImage:first-child {
	width: 90%;
}

#mainBanner .mainBannerImage:nth-child(2) {
	width: 5%;
}

#mainBanner .mainBannerImage:nth-child(3) {
	width: 5%;
}

#mainArticle {
	text-align: center;
	margin-bottom: 128px;
}

#mainArticleTitle {
	font-size: 4.5rem;
	font-weight: bold;
	margin: 80px 0px;
}

#mainArticleContent {
	font-size: 1.5rem;
	margin-bottom: 56px;
	max-width: 1000px;
}

#mainArticle a {
	margin: 0px 16px;
}

#bestSeller {
	width: 100%;
	max-width: 1000px;
	margin-bottom: 128px;
}

#bestSellerTitle {
	font-size: 3rem;
	margin-bottom: 48px;
	text-align: center;
	font-weight: bold;
}

#bestSellerContentList {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#bestSellerContent {
	position: relative;
	margin: 0.5%;
	width: 49%;
}

#bestSellerContent:after {
	content: "";
  	display: block;
  	padding-bottom: 100%;
}

#bestSellerImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

#bestSellerInfo {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(17,17,17,0.6);
	transition: 1s;
}

#bestSellerInfo:hover {
	opacity: 1;
}

#bestSellerName {
	color: #ffffff;
	margin-bottom: 16px;
	font-size: 1.2rem;
}

#bestSellerPrice {
	color: #ffffff;
	font-size: 1.5rem;
	margin-bottom: 16px;
}

#bestItem {
	width: 100%;
	max-width: 1000px;
	margin-bottom: 128px;
}

#bestItemTitle {
	font-size: 3rem;
	margin-bottom: 48px;
	text-align: center;
	font-weight: bold;
}

#bestItemContentList {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#bestItemContent {
	position: relative;
	width: 32%;
	margin: 0.5%;
}

#bestItemContent:after {
	content: "";
  	display: block;
  	padding-bottom: 100%;
}

#bestItemImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

#bestItemInfo {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(17,17,17,0.6);
	transition: 1s;
}

#bestItemInfo:hover {
	opacity: 1;
}

#bestItemInfo #bestItemName {
	color: #ffffff;
	margin-bottom: 16px;
	font-size: 1.2rem;
}

#bestItemInfo #bestItemPrice {
	color: #ffffff;
	font-size: 1.5rem;
	margin-bottom: 16px;
}

#starDiv {
	position: relative;
}

#starDiv #emptyStar {
}

#starDiv #greenStar {
	position: absolute;
	overflow: hidden;
	top: 0;
}

#emptyStar img {
	width: 14px;
}

#greenStar #starWrap {
	width: max-content;
}

#greenStar img {
	width: 14px;
	
}

#promotion {
	text-align: center;
	margin-bottom: 128px;
}

#promotionTitle {
	font-size: 3rem;
	margin-bottom: 48px;
	font-weight: bold;
}

#recentReview {
	width: 100%;
	margin-bottom: 128px;
}

#recentReview #recentReviewTitle {
	font-size: 3rem;
	margin-bottom: 48px;
	text-align: center;
	font-weight: bold;
}

#recentReview #recentReviewList {
	display: div;
	overflow:hidden;
}

#recentReviewListWrap {
	display:flex;
	width: 200%;
	animation-name: moveReview;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveReview {
    from {
    }
    to {
    	transform: translateX(-50%);
    }
}


#recentReview #recentReviewDiv {
	position: relative;
	width: 100%;
}

#recentReview #recentReviewDiv:after {
	content: "";
  	display: block;
  	padding-bottom: 100%;
}

#recentReview #recentReviewImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

#recentReview #recentReviewInfo {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(17,17,17,0.6);
	transition: 1s;
}

#recentReviewInfoTitle {
	color: #ffffff;
	margin-bottom: 8px;
	font-size: 1.2rem;
}

#recentReviewInfoContent {
	color: #ffffff;
	font-size: 1rem;
	margin-bottom: 8px;
}

/*태블릿*/
@media (min-width:768px) and (max-width:1079px) {
	
}

/*모바일*/
@media screen and (max-width:767px) {
	#bestSellerContent {
		position: relative;
		margin: 4px;
		width: 90%;
	}
	
	#bestItemContent {
		position: relative;
		width: 90%;
		margin: 4px;
	}
	
	#recentReviewListWrap {
		display:flex;
		width: 400%;
		animation-name: moveReview;
	    animation-duration: 20s;
	    animation-iteration-count: infinite;
	    animation-timing-function: linear;
	}
	
	@keyframes moveReview {
	    from {
	    }
	    to {
	    	transform: translateX(-75%);
	    }
	}
}
