@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	
}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.total{
	display: flex;
	margin-top: 70px;	
}

.total_main{
	margin:auto;
}

.content{
	margin-left: 30px;    
    width: 120px;
}

.h3_body{	
    font-size: 27px;    
    height: 40px;    
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    display: block;
    box-sizing: content-box;
    border-bottom: 1px gray solid;
    margin-bottom: 10px;
    width: 90%;
}

div.map{
	margin-top: 20px;
	
}

img.content_img{
	width: 100%;
}

.address{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}

.address-left{
	margin-right: 10px;
}

.p_title{
	font-weight: bold;
}

@media screen and (max-width:1024px){
	
	.content{
	display: none;
	}

}


@media screen and (max-width:768px){
	.address{
	flex-direction: column;
	}
	.address-left{
	margin-bottom: 10px;
	}
	div.map{
	width: 90%;	
	}
}

@media screen and (max-width:425px){
	.main_p{
	width: 100%;
	}	
}