@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: #111111;	
}

html {
	font-size: 16px;
}

ul {
	list-style: none;
}

header {
	display: flex;
	height: 36px;
	margin: 0px auto;
	padding: 0px 40px;
	font-size: 0.75rem;
	justify-content: flex-end;
	align-items: center;
}

header a {
	width: 64px;
	text-align: center;
	margin-left: 16px;
}

#gnbWrap {
	width: 100%;
	height: 56px;
	position: relative;
}

#gnb {
	width: 100%;
	height: 56px;
	background-color: #111111;
	position: relative;
	overflow: visible;
	z-index: 100;
	transition: 0.5s;
}

#gnb #gnbList {
	display: flex;
	height: 56px;
	margin: 0px auto;
	padding: 0px 40px;
	font-size: 1rem;
	align-items: center;
}

#gnb #gnbList li {
	display: flex;
	width: 64px;
	text-align: center;
	margin-right: 16px;
	align-items: center;
	justify-content: center;
}

#gnb #gnbList li:nth-last-child(1) {
	margin-left: auto;
	margin-right: 0px;
}

#gnb #gnbList a {
	color: #ffffff;
}

#gnb #gnbList a:hover {
	color: #cfff94;
}

#gnb #category {
	display: block;
	width: 100%;
	height: 0px;
	background-color: #111111;
	position: absolute;
	top: 100%;
	z-index: 100;
	opacity: 0;
	transition: 1s;
}

#gnb #category #categoryDiv{
	display: flex;
	height: 0px;
	overflow:hidden;
	margin: 0px auto;
	padding: 0px 40px;
	font-size: 1rem;
	align-items: flex-start;
	transition: 1s;
}

#gnb #category #categoryDiv ul{
	width: 64px;
	text-align: center;
	margin-right: 16px;
}

#gnb #category #categoryDiv ul li{
	display: flex;
	height: 56px;
	justify-content: center;
	align-items: center;
}

#gnb #category #categoryDiv a{
	color: #ffffff;
}

#gnb #category #categoryDiv a:hover {
	color: #cfff94;
}

#gnb #menuButton {
	display: none;
}

#gnb #mobileCategory {
	display: none;
}

#bodySection {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

#snb {
	display: block;
	border: 1px solid #c4c4c4;
	width: 144px;
    height:max-content;
	margin: 0px 16px;
	text-align: center;
	position: fixed;
	left: 40px;
}

#snb div {
	margin: 24px;
}

footer {
	height: 192px;
	background-color: #111111;
}

footer #up {
	display: flex;
	height: 40px;
	margin: 0px auto;
	padding: 0px 40px;
	justify-content: center;
	align-items: center;
}

footer #up a {
	color: #ffffff;
	font-size: 0.75rem;
	margin: 0px 16px;
}

footer #down {
	display:flex;
	height: 152px;
	margin: 0px auto;
	padding: 0px 40px;
	justify-content: center;
	align-items: center;
}

footer #down img {
	width: 144px;
	margin-right: 16px;
}

footer #down p {
	color: white;
	font-size: 0.75rem;
}

/*태블릿*/
@media (min-width:768px) and (max-width:1023px) {
	header {
		display: none;
	}

	#gnb #gnbList li{
		display: none;
	}
	
	#gnb #category {
		display: none;
	}
	
	#gnb #menuButton {
		display: block;
		cursor: pointer;
	}
	
	#gnb #gnbList li:first-child {
		display: flex;
	}

	#gnb #gnbList li:last-child {
		display: flex;
		margin-left: auto;
		margin-right: 0px;
	}
	
	#gnb #mobileCategory {
		display: block;
		position: absolute;
		height: 1080px;
		width: 0px;
		right: 0px;
		top: 100%;
		z-index: 100;
		background-color: #111111;
		text-align: center;
		transition: 1s;
		overflow: hidden;
	}
	
	#gnb #mobileCategory ul {
		width: 144px;
	}
	
	#gnb #mobileCategory li {
		margin: 24px 40px;
	}
	
	#gnb #mobileCategory li a {
		color: white;
	}
}

/*모바일*/
@media screen and (max-width:767px) {
	header {
		display: none;
	}
	
	#gnb #gnbList li{
		display: none;
	}
	
	#gnb #category {
		display: none;
	}
	
	#gnb #menuButton {
		display: block;
		cursor: pointer;
	}
	
	#gnb #gnbList li:first-child {
		display: flex;
	}

	#gnb #gnbList li:last-child {
		display: flex;
		margin-left: auto;
		margin-right: 0px;
	}
	
	#gnb #mobileCategory {
		display: block;
		position: absolute;
		height: 1080px;
		width: 0px;
		right: 0px;
		top: 100%;
		z-index: 100;
		background-color: #111111;
		text-align: center;
		transition: 1s;
		overflow: hidden;
	}
	
	#gnb #mobileCategory ul {
		width: 144px;
	}
	
	#gnb #mobileCategory li {
		margin: 24px 40px;
	}
	
	#gnb #mobileCategory li a {
		color: white;
	}
	
	footer #down {
		display:flex;
		margin: 0px auto;
		height: auto;
		padding: 0px 40px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
