@charset "UTF-8";

section {
	display: flex;
	margin-left: 244px;
	margin-right: 40px;
	flex-wrap: wrap;
	justify-content: center;
}

#itemDiv {
	width: 32%;
	margin: 0px 0.5% 16px 0.5%;
	cursor: pointer;
}

#itemImageDiv {
	position: relative;
	width: 100%;
}
#itemImageDiv:after {  
	content: "";
  	display: block;
  	padding-bottom: 100%;
}


#itemImage {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#itemDiv #itemInfo {
	display:flex;
	flex-direction:column;
}

#itemInfo #itemName {	
	font-weight: bold;
	margin: 4px;
}

#itemInfo #itemPrice {
	font-size: 1.2rem;
	font-weight: bold;
	margin: 4px;
}

#starDiv {
	position: relative;
	width: max-content;
	margin: 4px;
}

#starDiv #emptyStar {
}

#starDiv #greenStar {
	position: absolute;
	overflow: hidden;
	top: 0;
}

#emptyStar img {
	width: 14px;
}

#greenStar #starWrap {
	width: max-content;
}

#greenStar img {
	width: 14px;
	
}